*{
    margin: 0;
    padding: 0;
}
/* Экран 2 */ 
.advantages{
    display: flex;
    justify-content: center;
    height: 372pt;
}
.advantages__item{
    width: 269pt;
    text-align: center;
    padding-top: 79pt;
}
.item__img{
    position: relative;
}
.item__img .no_hover{
    position: absolute;
}
.advantages__item:not(:last-child){
    padding-right: 33pt;
}
.advantages__item h3{
    padding-top: 29pt;
    padding-bottom: 19pt;
    font-family: 'Raleway', sans-serif;
    font-size: 22pt;
    color: rgba(85, 85, 85, 255);
}
.advantages__item p{
    font-size: 14pt;
    color: rgba(140, 140, 140, 255);
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
.advantages__item::after{   /*полоса внизу блока */
    content: "";
    display: block;
    width: 70pt;
    height: 3pt;
    background-color: #f1eee9;
    margin-top: 30pt;
    margin-left: 98pt;
}
.advantages__item:hover::after{   /* изменение цвета полосы внизу блока */
    background-color: #c7b299;
}

.advantages__item:hover .item__img .no_hover{
    display: none;
}
.advantages__item:hover h3{
    color: #c7b299;
}

/* Экран 4 */
.projects{
    text-align: center;
    margin-bottom: 30pt;
}
.projects__text h3{
    font-size: 30pt;
    font-family: 'Raleway', sans-serif;
    color: rgba(85, 85, 85, 255);
    padding-top: 81pt;
    padding-bottom: 24pt;
   
}   
.projects__text p{
    font-size: 16pt;
    color: rgba(140, 140, 140, 255);
    width: 757pt;
    font-family: 'Montserrat', sans-serif;
    display: block;
    margin: 0 auto;
    padding-bottom: 40pt;
}
.project__filters{
    padding-bottom: 50pt;
}
.project__filters a{
    text-decoration: none;
    font-size: 14pt;
    color: rgba(140, 140, 140, 255);
    text-align: center;
    border: 1px solid #ebebeb;
    font-family: 'Montserrat', sans-serif;
    padding: 10pt 23pt 10pt 23pt;
}
.project__filters a:not(:last-child){
    margin-right: 10pt;
}
.project__items{
    margin-bottom: 30pt;
}
.project__row{
    display: inline-flex;
    flex-direction: row;
    margin-bottom: 30pt;
}
.project__item{ 
    width: 370pt;
    background-color: #fbfaf8;
    
}
.project__item:not(:last-child){
    margin-right: 30pt;
}
.project__item:not(:nth-child(3)){
    margin-right: 30pt;
}
.project__item img{
    width: 100%;
}
.project__img{
    position: relative;
}

.project__bg-img{
    top: 0;
    position: absolute;
    width: 370pt;
    height: 238pt;
    background: rgba(0,0,0,0.5);
   display: none;
}
.project__bg-img img{
    margin-top: 108pt;
    margin-right: 28pt;
}
.title{
    font-size: 20pt;
    color: rgba(199, 178, 153, 255);
    text-align: left;
    padding-top: 30px;
    padding-left: 28pt;
    font-family: 'Raleway', sans-serif;
}
.subtitle{
    color: rgba(209, 209, 209, 255);
    padding-top: 14pt;
    padding-left: 28pt;
    padding-bottom: 27px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}
.project__item:hover{
    background-color: #362f2d;
}
.project__item:hover .title{
    color: rgba(255, 255, 255, 255);
}
.project__item:hover .subtitle{
    color: rgba(199, 178, 153, 255);
}
.project__item:hover .project__bg-img{
    display: block;
}
.btn__more{
    
    text-decoration: none;
    font-size: 14pt;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    font-family: 'Raleway', sans-serif;
    padding: 20px 45px;
    background-color: #998675;
    border-radius: 5%;
    font-weight: 600;
}


/* font-family: 'Raleway', sans-serif;
font-family: 'Montserrat', sans-serif; */
